<!DOCTYPE html>
<html>
  <head>
    <title>Brainflayer: All Your Brain Are Belong To Us</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://i.imgur.com/i1U3e2r.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content="BrainFlayer" />
     <meta property='og:image' content="<%= image_url('brainflayer_pic.png') %>"/>
     <meta property="og:description"
       content="A brief description of your project."
     />
     <meta property="og:url"
       content="http://brainflayer.herokuapp.com/"
     />

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&amp;display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2a02a9779f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
