<!DOCTYPE html>
<html>
  <head>
    <title>Brainflayer: All Your Brain Are Belong To Us</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://www.brainscape.com/assets/favicon-920646c45ee053f8968f53555b7ec39c404fff778495833e903de5155bf39a3b.ico">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
