<!DOCTYPE html>
<html>
  <head>
    <title>Brainflayer: All Your Brain Are Belong To Us</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://i.imgur.com/i1U3e2r.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&amp;display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
